<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ settings.siteName }}</title>
    <style>
      {% postcss %}
        {% include style.css %}
      {% endpostcss %}
    </style>
  </head>
  <body>
    <header class="header">
      <h1>{{ settings.siteName }}</h1>
    </header>
    <main>
      {% for dayIndex in (0..news.length) %}
        <h2>{{ news[dayIndex].date }}</h2>
        <section class="day">
          {% for topic in news[dayIndex].topics %}
            <h3 class="topic">{{ topic.name }}</h3>
            <section>
              {% for entry in topic.entries %}
                <section class="entry">
                  <div>
                    <div>{{ entry.body }}</div>
                    <div>
                      {% for tag in entry.tags %}
                        <a class="entry-tag" href="{{ tag.url }}" rel="nofollow noopener">{{ tag.name }}</a>
                      {% endfor %}
                    </div>
                    <div class="entry-url">
                      Source:
                      <a href="{{ entry.url }}">
                        {{ entry.sourceName }} <img src="/static/images/external-link-icon.svg" />
                      </a>
                    </div>
                  </div>
                  {% if dayIndex == 0 and entry.ogMetadata.ogImage.url %}
                    <div class="entry-img-container">
                      <a href="{{ entry.url }}">
                        <img class="entry-img" src="{{ entry.ogMetadata.ogImage.url }}" width="100" />
                      </a>
                    </div>
                  {% endif %}
                </section>
              {% endfor %}
            </section>
          {% endfor %}
        </section>
      {% endfor %}
    </main>
    <footer>
      Text is sourced from <a href="https://en.wikipedia.org/wiki/Portal:Current_events" rel="nofollow noopener">https://en.wikipedia.org/wiki/Portal:Current_events</a> and made available under the <a href="https://creativecommons.org/licenses/by-sa/3.0/" rel="nofollow noopener">Creative Commons Attribution-ShareAlike License</a>.
    </footer>
  </body>
</html>
