<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ settings.siteName }}</title>
    <style>
      {% postcss %}
        {% include style.css %}
      {% endpostcss %}
    </style>
  </head>
  <body>
    <header class="header">
      <h1>{{ settings.siteName }}</h1>
    </header>
    <main>
      {% for dayIndex in (0..news.length) %}
        <section class="day">
          <h2 class="date">{{ news[dayIndex].date }}</h2>
          {% for topic in news[dayIndex].topics %}
            <section class="topic">
              <h3 class="topic">{{ topic.name }}</h3>
              {% for entry in topic.entries %}
                <section class="entry">
                  <p class="entry">{{ entry.body }}</p>
                  {% for tag in entry.tags %}
                    <span class="entry-tag">
                      <a href="{{ tag.url }}" rel="nofollow noopener">
                        {{ tag.name }}
                      </a>
                    </span>
                  {% endfor %}
                  {% if dayIndex == 0 %}
                    <a href="{{ entry.url }}">
                      {% if entry.ogMetadata.ogImage.url %}
                        <img src="{{ entry.ogMetadata.ogImage.url }}" width="100" />
                      {% endif %}
                    </a>
                  {% else %}
                    <a href="{{ entry.url }}">
                      {{ entry.sourceName }} <img src="/static/images/external-link-icon.svg" />
                    </a>
                  {% endif %}
                </section>
              {% endfor %}
            </section>
          {% endfor %}
        </section>
      {% endfor %}
    </main>
    <footer>
      Text is sourced from <a href="https://en.wikipedia.org/wiki/Portal:Current_events" rel="nofollow noopener">https://en.wikipedia.org/wiki/Portal:Current_events</a> and made available under the <a href="https://creativecommons.org/licenses/by-sa/3.0/" rel="nofollow noopener">Creative Commons Attribution-ShareAlike License</a>.
    </footer>
  </body>
</html>
