body {
  max-width: 800px;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  line-height: 1.3;
  color: #333739;
  background: #fffffe;
}

header {
  text-align: center;

  h1 {
    font-size: 50px;
    font-weight: 900;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: #1e2426;
}

a {
  color: inherit;
}

main {
  padding: 0 10px;

  .day-header {
    padding-left: 10px;
    font-size: 30px;
    line-height: 50px;
    border-left: 5px solid #a82a2a;
  }

  .topic-header {
    font-size: 20px;
    text-transform: uppercase;
    color: #007374;
  }

  .topic {
    margin-bottom: 40px;
  }

  .entry-tag {
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px 10px;
    background: #e9ebeb;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: #0e1e24;
    white-space: pre-line;
  }

  .entry {
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;

    div:first-child {
      flex-grow: 1;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #e1e1e1;
    }

    .entry-part-link {
      text-decoration: none;
    }

    &:hover {
      .entry-part-link {
        color: #217fb0;

        &:focus,
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .entry-url {
      margin-top: 10px;
      font-size: 14px;
      color: #5c7080;
    }

    .entry-img-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      margin-left: 20px;

      .entry-img {
        width: 250px;
        border-radius: 3px;
      }
    }
  }
}

footer {
  margin-bottom: 40px;
  padding: 10px;
  font-size: 12px;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  header {
    h1 {
      font-size: 40px;
    }
  }

  main {
    .day-header {
      font-size: 25px;
      line-height: 40px;
    }

    .topic-header {
      font-size: 18px;
    }

    .topic {
      margin-bottom: 20px;
    }

    .entry {
      flex-direction: column-reverse;

      .entry-part-link {
        pointer-events: none;
        touch-action: none;

        &:focus,
        &:hover {
          text-decoration: none;
        }
      }

      &:hover {
        .entry-part-link {
          touch-action: initial;
          pointer-events: initial;
          color: #217fb0;

          &:focus,
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .entry-img-container {
        margin-left: 0;
        margin-bottom: 5px;

        .entry-img {
          width: 100%;
        }
      }
    }
  }
}
