body {
  max-width: 800px;
  margin: auto;
  line-height: 1.3;
  color: #333739;
}

header {
  text-align: center;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
  font-family: Georgia;
  color: #1e2426;
}

a {
  color: inherit;
}

main {
  font-family: Arial;
  padding: 0 10px;

  .topic-header {
    text-transform: uppercase;
  }

  .topic {
    margin-bottom: 40px;
  }

  .entry-tag {
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px 10px;
    background: #e9ebeb;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: #0e1e24;
    white-space: pre-line;
  }

  .entry {
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;

    &:not(:last-child) {
      border-bottom: 1px solid #e1e1e1;
    }

    .entry-url {
      margin-top: 10px;
      font-size: 14px;
      color: #636d72;
    }

    .entry-img-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 20px;

      .entry-img {
        width: 250px;
      }
    }
  }
}

footer {
  font-family: Arial;
  padding: 10px;
  font-size: 12px;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  main {
    .entry {
      flex-direction: column-reverse;

      .entry-img-container {
        margin-left: 0;
        margin-bottom: 5px;

        .entry-img {
          width: 100%;
        }
      }
    }
  }
}
